<div class="container mx-auto h-screen p-6 bg-gray-900">
  <div
    class="flex justify-between items-center mb-8 rounded-2xl p-6 border border-gray-700 shadow-2xl"
  >
    <h1
      class="text-4xl font-bold bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-500 bg-clip-text text-transparent p-2"
    >
      Personal Task Manager
    </h1>
    <button
      (click)="showAddModal = true"
      class="bg-gradient-to-r from-cyan-500 to-blue-500 hover:from-cyan-600 hover:to-blue-600 text-white px-6 py-3 rounded-xl font-bold shadow-lg hover:shadow-cyan-500/25 transition-all duration-300 transform hover:scale-105"
    >
      Add Task
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2    gap-6 ">
    <div>
      <h2 class="text-2xl font-bold text-white mb-4">Pending</h2>
      @for (task of tasks; track task.taskId) { @if (!task.isCompleted) {
      <app-task-item
        [task]="task"
        (taskDeleted)="deleteTask($event)"
        (taskUpdated)="updateTask($event)"
      />
      } } @empty {
      <div
        class="col-span-full text-center py-10 text-blue-300 text-xl font-semibold"
      >
        No pending tasks!
      </div>
      }
    </div>

    <div>
      <h2 class="text-2xl font-bold text-white mb-4">Completed</h2>
      @for (task of tasks; track task.taskId) { @if (task.isCompleted) {
      <app-task-item
        [task]="task"
        (taskDeleted)="deleteTask($event)"
        (taskUpdated)="updateTask($event)"
      />
      } } @empty {
      <div
        class="col-span-full text-center py-10 text-blue-300 text-xl font-semibold"
      >
        No completed tasks yet!
      </div>
      }
    </div>
  </div>

  @if (showAddModal) {
  <app-add-task-modal
    (closeModal)="showAddModal = false"
    (taskAdded)="onTaskAdded($event)"
  />
  }
</div>
